@font-face {
  font-family: 'Theater';
  src: url('./Theater_Bold.otf');
}

@font-face {
  font-family: 'Julius Sans One';
  src: url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
}
@font-face {
  font-family: 'Alegreya Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Alegreya+Sans');
}

@font-face {
  font-family: 'Beau';
  src: url('./beau.ttf');
}
