@import url('~/fonts.scss');

$julius-sans: 'Julius sans', sans-serif;

// .component-fade-enter-active,
// .component-fade-leave-active {
//   transition: opacity 0.5s;
// }
// .component-fade-enter,
// .component-fade-leave-to {
//   opacity: 0;
// }
html,
body,
#app {
  background-color: #fff;
  color: hsla(230, 10%, 12%, 0.8);
  letter-spacing: 0.5px;
  font-family: $julius-sans;
  height: 100vh;
  margin: 0;
}
footer {
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}
.landing-inner {
  position: relative;
  height: calc(100vh - 60px);
  margin: 25px;
  border: 4px dotted hsla(339, 6%, 46%, 0.3);
}
.logo {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 289px;
}
